# General packages:
numpy
pandas

# Graphing: (this is not for deployment)
explainerdashboard
plotly
seaborn
matplotlib

# Addons:
openpyxl
joblib #loading model

# NLP engines and APIs:
spacy
textblob
nltk
# Additional solutions (for AutoML):
pycaret

# Deploy
nicegui