# General packages:
numpy
pandas

# Graphing: (this is for exploration)
explainerdashboard
plotly
seaborn
matplotlib

# Addons:
openpyxl
joblib

# NLP engines and APIs:
spacy
textblob
nltk
# Additional solutions (for AutoML):
#markupsafe==2.0.1
pycaret
