# General packages:
numpy
pandas

# Graphing:
explainerdashboard
plotly
seaborn
matplotlib

# Addons:
openpyxl

# NLP engines and APIs:
spacy
textblob
nltk
# Additional solutions (for AutoML):
#markupsafe==2.0.1
pycaret
